body {
	background: url(./../img/background.png) #220347;
	background-size: cover;
}

html, body, #container  {
	width: 100%;
	height: 100%;
	margin: 0;
}

#container {
	overflow: hidden;
	position: absolute;
	left: 18%;
	width: 82%;
}

#svg-viz {
	cursor: move;
}

.ui-tooltip {
	position: absolute !important;
	.team-tooltip {
		background: #1D3542;
		color: white;
		max-width: 250px;
		min-width: 200px;
		min-height: 80px;
		padding: 5px;
		position: relative;
		border: solid #B7E99B 1px;
		table {
			table-layout: fixed;
			width: 100%;
			word-wrap: break-word;
		}
		.header {
			font-weight: normal;
		}
		.value {
			font-weight: bold;
		}
	 	.value.team-name {
			color: #B7E99B;
		}
		.header-wrapper {
			margin-bottom: 8px;
			line-height: 1;
		}
		td:first-child {
			vertical-align: top;
			width: 69px;
		}
		img {
			margin-right: 5px;
		}
	}
}

.statistics {
	position: absolute;
	bottom: 0;
	width: 300px;
	left: 50%;
	font-family: Arial, sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	.value {
		font-family: 'Roboto', sans-serif;
		font-weight: 100;
		font-size: 60px;
		display: inline-block;
	}
	.header {
		font-size: 25px;
		line-height: 68px;
		vertical-align: top;
	}
}

#attacks {
	color: #EC2B34;
	margin-left: -300px;
	text-align: right;
	border-right: solid #374B6C 1px;
	padding-bottom: 14px;
	.value {
		margin: 0 15px 0 10px;
	}
}

#alive {
	color: #B7E99B;
	padding-bottom: 14px;
	.value {
		margin: 0 10px 0 15px;
	}
}

.node {
	cursor: default;
}

.island {
	stroke: #3D7278;
	stroke-width: 2px;
}

.explosion {
	-webkit-transition: 0.4s linear;
	transition: 0.4s linear;
	fill-opacity: 1;
}

.arrow-line {
	stroke-linecap: round;
	stroke-width: 3px;
	fill-opacity: 0;
}

#stats-container > div {
	bottom: 0;
	right: 0;
	left: initial !important;
	top: initial !important;
	opacity: 0.2 !important;
}

#scoreboard-container {
	position: absolute;
	left: 30px;
	top: 50%;
	transform: translate(0,-50%);
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	table {
		border-spacing: 0;
	}
	img {
		width: auto;
		margin-right: 9px;
		margin-top: 3px;
	}
	tr:nth-child(1) {
		.place {
			background-color: #FFBF1B;
			color: #220347;
		}
		td:nth-last-child(-n+2) {
			font-weight: 700;
		}
	}
	tr:nth-child(2) {
		.place {
			background-color: #E4E4E4;
			color: #220347;
		}
		td:nth-last-child(-n+2) {
			font-weight: 700;
		}
	}
	tr:nth-child(3) {
		.place {
			background-color: #EC8F47;
			color: #220347;
		}
		td:nth-last-child(-n+2) {
			font-weight: 700;
		}
	}
	td:nth-child(3) div {
		margin-left: 1px;
		margin-right: 30px;
	}
	td:nth-child(4) div {
		margin-right: 1px;
	}
	tr:not(*:last-child) td:nth-last-child(-n+2) {
		border-bottom: 1px solid #463078;
	}
	.place {
		color: #9284AB;
		border-radius: 100px;
		text-align: center;
		margin-right: 13px;
	}
}
