[Unit]
    Description=C.A.P.T.E.R main unit

[Service]
    ExecStart=/home/capter/go/bin/capter
    WorkingDirectory=/home/capter/
    User=capter
    Group=capter
    Restart=on-failure
    RestartSec=1s
    CPUQuota=40%

[Install]
    WantedBy=multi-user.target
